header
 
 //Check this first

if(!user) 
  nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            |  
            a.navbar-brand(href='/') ShareSquare
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/')
                  | Home 
                  span.sr-only (current)
              li
                a(href='/about') About
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(href='/users/login', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  | Login
                  span.caret
                ul.dropdown-menu
                  li
                      a(href='/users/login') Login
                  li
                    a(href='/registration') Sign Up
                  
if(user)
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          |  
          a.navbar-brand(href='/') ShareSquare
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/')
                | Home 
                span.sr-only (current)
            li
              a(href='/about') About
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/logout') Logout
            li.dropdown
              a.dropdown-toggle(href='/users/login', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Options
                span.caret
              ul.dropdown-menu
                li
                  a(href='/users/dashboard') Dashboard
                li
                  a(href='/users/profile') Profile
                li
                  a(href='/users/create') Create New
                li
                  a(href='/users/view/') View All 
              
            
  
              
              
              
//Original   
 if(user)
  nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/') ShareSquare
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/users/login') Logout
  else
    nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/') ShareSquare
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/logout') Login