@font-face{
     font-family: "Avenir";
    src: url(../fonts/avenir.ttc);
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("../img/web_background.png");
    background-position: center top;
	background-color:#666666;
	background-repeat:repeat;
	background-size: 100% auto;	
}

.disappear{
    display: none;
}

p{
    font-size: 1em;
    font-family: Avenir;
    
}
h1{
    font-size: 3em;
}
.img-center{
    margin: 0 auto;
}
.movedown{
    margin-top:4%;
}