extends ../layout

block content
    if docs.length > 0
        div
            table
                tr
                    th(id="username") Username
                    th(id="email") Email
                each doc in docs
                    tr
                        td(headers="username")
                            a(href="/users/view/" + doc.id)= doc.username
    div
        a.btn.btn-primary(href="users/create") Create New