extends ../layout

include ../mixins/form
//- dashboard adapted from http://www.bootply.com/007aJTIfKW
block content
    .container-fluid(data-offset='50', data-spy='scroll', data-target='#sidebarmenu')
      .row.row-offcanvas.row-offcanvas-left
        #sidebar.col-sm-3.col-md-2.sidebar-offcanvas(data-offset='60', role='navigation')
          #sidebarmenu
            ul.nav.nav-sidebar
              li
                a(href='#') Overview
              li
                a(href='#sec1') Section 1
              li
                a(href='#sec2') Section 2
              li
                a(href='#sec3') Section 3
              li
                a(href='#sec4') Section 4
        .col-sm-9.col-md-10.main
          p.visible-xs
            button.btn.btn-primary.btn-xs(type='button', data-toggle='offcanvas')
              i.glyphicon.glyphicon-chevron-left
          h1.page-header  Dashboard
          h2#sec1.sub-header Section one
          |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
          hr
          h2#sec2.sub-header Section two
          |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.
          hr
          h2#sec3.sub-header Section three
          |  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.