extends ../layout

include ../mixins/form

block content
    .container
        h1 You Don't Have Permission!!!!!!!!
         img.img-thumbnail(src='https://otviiisgrrr8.files.wordpress.com/2013/10/redalert.jpg', alt='RED ALERT IS BROKEN', width='1000', height='1030')