extends ../layout

include ../mixins/userForm

block content
    .container
       form(method="POST", action="/users/login")
            +textbox("Username","username")(required="required")
            +textbox("Password","password")(type="password",required="required")
            div
                +login()
                a(href="/registration") Register
