extends ../layout

include ../mixins/form
//- profile template from http://www.bootply.com/sY7gQy6XF7
block content
    .container
      h1 Edit Profile
        hr
        .row
          .col-md-3
            .text-center
              img.avatar.img-circle(src='//placehold.it/100', alt='avatar')
              h6 Upload a different photo...
              |  
              input.form-control(type='file')
          .col-md-9.personal-info
            h3 Personal info
            form.form-horizontal(role='form')
              .form-group
                .col-lg-8
                  +textbox("First Name","name")(value=user.name)
              .form-group
                .col-lg-8
                  +textbox("Email:","email")(value=user.email)
              .form-group
                .col-md-8
                  +textbox("Username","username")(value=user.username)