extends ../layout

include ../mixins/form

block content
  body
    .container
      h2 Password Recovery Form
      form
        .form-group
          label(for='email') Email:
          |  
          input#email.form-control(type='email', placeholder='Enter email')
        .form-group
          label(for='usrnme') Username:
          |  
          input#pwd.form-control(type='username', placeholder='Enter username')
        
        |  
        button.btn.btn-default(type='submit') Submit