extends ../layout

include ../mixins/userForm

block content
   form.container(method="POST",action="/registration")
        h1 Welcome to ShareSquare!
        h2 Register Here
        +textbox("Username","username")(pattern="^[a-zA-Z0-9]+$",required="required")
        +textbox("Password","password")(type="password",required="required",title="must be at least 8 characters long and contain a number and special character ")
        +textbox("Email","email")(type="email",required="required")
        +textbox("Name","name")(pattern="^[a-zA-Z\\s]+$",required="required")
        if(user && user.permissions === 'administrator')
            +dropdown("User Type","permissions",permissions)(required="required")
        div
            a(href="/users/login") Cancel
            +submit()