mixin textbox(label,name)
    div(class!=attributes.class)
        input.form-control(id=name+"-id",name=name,value!=attributes.value)
        label(for=name+"-id")= label

mixin textarea(label,name)
    div(class!=attributes.class)
        label(for=name+"-id")= label
        textarea.form-control-input(id=name+"-id",name=name)
            block
mixin submit()
    div
        input(type="submit",value="Save").btn.btn-primary