mixin textbox(label,name)
    label(for=name+"-id")= label
    div(class!=attributes.class)
        input.form-group(id=name+"-id",name=name,value!=attributes.value,disabled!=attributes.disabled,pattern!=attributes.pattern,required!=attributes.required,type!=attributes.type)

mixin textarea(label,name)
    label(for=name+"-id")= label
    div(class!=attributes.class)
        textarea.form-control(id=name+"-id",name=name,disabled!=attributes.disabled,required!=attributes.required)
            block

mixin dropdown(label,name,options)
    label(for=name+"-id")= label
    div(class!=attributes.class)
        select.form-group(id=name+"-id",name=name,disabled!=attributes.disabled,required!=attributes.required)
            each option in options
                if option === attributes.value
                    option(value=option,selected="selected")= option
                else
                    option(value=option)= option

mixin fieldset(label,value)
    label(for=name+"-id")= label
    div(class!=attributes.class)
        label(for=name+"-id")= label
        fieldset.form-check(label=form-check-label, value!=attributes.value)

mixin save()
        input(type="submit",value="Save").btn.btn-primary
mixin login()
        input(type="submit",value="Login").btn.btn-primary
mixin submit()
        input(type="submit",value="Submit").btn.btn-primary