doctype html
html(lang='en')
  head
    title="ShareSquare"
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    
    include includes/header
    
    
     h1.jumbotron= title
            
    block content

                script(src="/js/my-script.js")
                script(src="/js/socket.io.js")
                script(src="/js/mysocket.js")
                