extends ../layout

include ../mixins/form

block content
    img.img-center.col-md-6(src="../img/sharesquarelogo.png" alt="ShareSquare Logo" width="50%" height="auto")
    .container.col-md-6.movedown
        h1.jumbotron="About ShareSquare"
            p ShareSquare connects individuals all over the world. ShareSquare creates a place for everyone to share what they want, when they want. Users can create their own content, or share a piece of content they like. Discuss content shared and share your thoughts. ShareSquare is a user forum/file sharing web application. User will use this application to share files including images, PDF’s, text documents, and other file types. User’s would use this application to share their thoughts about files shared.