extends ../layout

include ../mixins/form

block content
    .container
        form(method="POST",action="/users/create",enctype="multipart/form-data")
          .form-group
            label(for='contentTitle') Title
            |  
            input#contentTitle.form-control(name='contentTitle', type='title', placeholder='Enter Title', required='required')
          .form-group
            label(for='contentFile') File input
            |  
            input#contentFile.form-control-file(type='file', name='content', required='required')
          |  
          button.btn.btn-primary(type='submit') Submit