extends ../layout

include ../mixins/form

block content
    .container
        div.col-lg-4
            |
            button.btn.btn-danger(type='DELETE') Delete Content
        h1
            img.img-thumbnail(src='http://www.dogsplayingpoker.org/gallery/coolidge/img/a_bold_bluff.jpg', alt="You broke my dogs playing poker picture!", width='800', height='533')
        h2
             form
        .form-group
          label(for='Content Title') New Title:
          |  
          input#email.form-control(type='Content Title', placeholder='Enter a new Title')
           |  
        button.btn.btn-success(type='submit') Submit new Title