extends ../layout

block content
    if docs.length > 0
        div
            table
                tr
                    th(id="title") Title
                each doc in docs
                    tr
                        td(headers="title")
                            a(href="/users/view/" + doc.id)= doc.title
                            
    div.col-md-6
        img.img-center(src="../img/sharesquarelogo.png")
    div.col-md-6.chat
        h3 Share
            img(src="../img/share.png" alt="Share Icon" width="200" height="auto")
            h6 Share a laugh. Give a smile. ShareSquare joins users together through users uploading content. Users can create threads by commenting on uploaded content. Users upload content including files, photos, or PDF's.
        h3 Chat
            img(src="../img/chat.png" alt="Chat Icon" width="200" height="auto")
            h6 Users can comment on any content on ShareSquare. Comments are often the best part about ShareSquare content—they provide additional information, vigorous discussion, context, and often humor.
                                        
                            
    
                            
                            
    //-div.disappear
        label List of all routes in application on this page (temporary list)
        div.row
        -//Logged in 
            div.col-md-4
                a(href="/users/create") Create New Content
            div.col-md-4  
                a(href="/content") Content view
            div.col-md-4   
                a(href="/users/dashboard") Dashboard View
            div.col-md-4   
                a(href="/users/profile") Profile view
            div.col-md-4   
                a(href="/users/edit") Edit content
            div.col-md-4   
                a(href="/users/view/:id") User View Content
            div.col-md-4   
                a(href="/users/view/") View all content
            div.col-md-4   
                a(href="/users/delete/:id") Delete Content View
            div.col-md-4 
                a(href="/users/all") Admin view of all Users
        -//Logged Out Views
            div.col-md-4   
                a(href="/denied") Denied view
            div.col-md-4   
                a(href="/registration") Register User
            div.col-md-4   
                a(href="/users/login") User Login view
            div.col-md-4   
                a(href="/users/recovery") Password Recovery view
            div.col-md-4 
                a(href="/about") About
//- div.disappear
        div.row
            div.col-md-4
                img(src="../img/p1.png" alt="controller image" width="100" height="100")
            div.col-md-4
                img(src="../img/p2.png" alt="star image" width="100" height="100")
            div.col-md-4
                img(src="../img/p3.jpg" alt="speedometer image" width="100" height="100")
            div.col-md-4
                img(src="../img/p4.png" alt="chromium image" width="100" height="100")
            div.col-md-4
                img(src="../img/p5.jpg" alt="rocks image" width="100" height="100")
            div.col-md-4
                img(src="../img/p6.jpg" alt="flowers image image" width="100" height="100")
                
                
                
