extends ../layout

include ../mixins/form

block content
    if docs.length > 0
        .container
          table.table
            tr
                th(id='title') Title
            each doc in docs
                tr
                    td(headers="title")
                        a(href="/pages/view/" + doc.id)= doc.title
    a.btn.btn-primary(href="/users/create") Upload Photo