extends ../layout

include ../mixins/form

block content
    .container
        form(method="POST")
            .form-group
                a.btn.btn-primary(href="/users/view") Index
                button.btn.btn-success(formaction="/users/edit/" + doc.tag) Edit
                a.btn.btn-danger(href="/pages/delete/" + doc.tag) Delete
            .form-group
                input#contentTitle.form-control(name='title', type='title', value=doc.title)
        if doc.path != undefined
            img(src='/' + doc.path, alt= 'Image Failed to Load')